html,body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 14px;
  background-color: #86BBD8;
  width: 100%;
}

header {
  background: #33658A;
  padding-top: 25px;
}

.gameboard {
  height: 600px;
}

a {
  color: #FFFFFF;
  font-size: 20px;
}

.btn, .btn:focus {
  background-color: #33658A;
}

.btn:hover {
  background-color: #F26419;
}

.links {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.gameleft, .scoreright {
  margin: 1vw;
  padding: 1vw;
  color: #FFFFFF;
  height: 600px;
  width: 400px;
  display: inline-block;
  border-radius: 5%;
}

.gameleft {
  vertical-align: top;
  position: relative;
}


h1 {
  color: #F26419;
}

.dice, .selected, .diceinhand {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px 0;
}

.rolled, .selected {
  background-size: 100%;
  background-repeat: no-repeat;
}

td {
  width: 3vw;
}

.unplayed {
  color: lightgray;
  font-weight: 150;
  cursor: pointer;
}

.p2board {
  display: none;
}
