html,body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 14px;
  background: #33658A;
}

.gameboard {
  height: 600px;
}

.gameleft, .scoreright {
  margin: 1vw;
  padding: 1vw;
  background-color: #86BBD8;
  height: 600px;
  width: 400px;
  display: inline-block;
  border-radius: 5%;
}

.gameleft {
  vertical-align: top;
  position: relative;
}


h1 {
  color: #F26419;
}

.dice, .diceselect, .diceinhand {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px 0;
}

.dice, .diceinhand {
  background-color: white;
}

/* .dice {
  position: absolute;
  top: 20px;
} */

/* #die1 {
  left: 85px
}

#die2 {
  left: 135px
}

#die3 {
  left: 185px;
}

#die4 {
  left: 235px;
}

#die5 {
  left: 285px;
} */

.diceselect {
  background-color: red;
  color: white;
}
